<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game1"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game2"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game3_0"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game3"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game4"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game5"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game6"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game6_theItem"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game6_Pikachu"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game6_key"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game6_cat"
            android:screenOrientation="portrait"

            ></activity>

        <activity android:name=".Game7"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game8"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game9"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game10"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game11"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game12"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game13"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game14"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".Game15"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".HighScore"
            android:screenOrientation="portrait"

            ></activity>
        <activity android:name=".GameOver"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>